{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Создать новый пост {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" name="title"
               placeholder="Заголовок публикации" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Контент</label>
        <textarea name="content" placeholder="Контент публикации"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Готово</button>
    </div>
</form>
{% endblock %}